.root {
    -fx-background-color: #121212;
    -fx-font-family: "Segoe UI";
}

/* Buttons */
.button {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 6 12 6 12;
}
.button:hover {
    -fx-background-color: #3a3a3a;
}

/* Labels */
.label {
    -fx-text-fill: #e0e0e0;
}

/* TextFields */
.text-field {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-border-color: #333;
}

/* TitledPane / Accordion */
.titled-pane > .title {
    -fx-background-color: white;
    -fx-text-fill: white;
}
.titled-pane.title{
    -fx-background-color: white;
}
.titled-pane:expanded > .title {
    -fx-background-color: #3a7bd5;
}

.titled-pane > .content {
    -fx-background-color: #181818;
    -fx-padding: 10;
}

/* Accordion spacing */
.accordion {
    -fx-background-color: transparent;
}

.spinner {
    -fx-background-color: #1e1e1e;
}

.spinner .text-field {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

/* Pfeile */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #2d2d2d;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #3a3a3a;
}

.spinner .arrow {
    -fx-background-color: #e0e0e0;
}

.spinner .text-field {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #777;
}

.text-field {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #777;
    -fx-border-color: #444;
}

.title-label {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #a020f0;
}

.wabeldi{
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
}